.title {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.btnBuy {
  background-color: var(--color-green-1);
  border-radius: 20px;

  color: var(--color-white-1);
  text-decoration: none;

  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.btnBuy:hover,
.btnBuy:focus {
  color: var(--color-white-1);
  transform: scale(0.9);

  box-shadow: 0px 2px 14px rgb(0 255 145);
  border-color: rgb(142 223 188);
}

.muted h5 {
  font-size: 1.1em;
}
