.container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;

  border-radius: 6px;

  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  position: relative;

  transition: all 0.2s ease;
}

.container:hover,
.container:focus,
.desc:hover,
.desc:focus {
  color: var(--color-black-1);
  background-color: var(--color-white-2);
}

.image {
  border-radius: 6px;
  overflow: hidden;
  width: 10rem;
  height: 6rem;
}

.desc {
  color: var(--color-black-1);
  flex: 1 1 40rem;
  margin: 0 1rem;
  position: relative;
}

.stars {
  color: var(--color-yellow-1);
  font-size: 0.8em;
}

@media only screen and (max-width: 425px) {
  .desc {
    flex: 1 1 70%;
  }
  .desc p {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 425px) {
  .desc {
    flex: 1 1 50%;
  }
}
