.card {
  padding: 1rem;
  margin-bottom: 1rem;

  color: var(--color-white-1);
  text-decoration: none;

  border-radius: 14px;
  box-shadow: 4px 14px 10px var(--color-rgba-black);

  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.cardBig {
  flex: 0 1 360px;
  max-width: 360px;
  min-height: 40vh;
  background-image: linear-gradient(to bottom, #94dfff 40%, #63cffe 100%);
}

.cardSmall {
  flex: 1 1 240px;
  max-width: 250px;
}

.image {
  width: 80%;
  margin: 3rem auto;
}

.title {
  color: var(--color-white-1);
  margin-top: 4rem;
}

.rating {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  max-width: 80%;

  font-size: 0.7em;
}

.ratingStars {
  color: var(--color-yellow-1);
  margin-right: 1rem;
}

.ratingStars .star {
  margin-right: 0.3rem;
}

.desc {
  margin-top: 1rem;
}

.desc p {
  font-size: 0.7em;
  color: var(--color-white-1) !important;
}

/* small cards */
.cardSmall .image {
  margin: 1rem auto;
}
.cardSmall .title {
  margin-top: 0;
}

/* card colors */
.blackCard {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.redCard {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.pinkCard {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}
